<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <table>
    <tr>
      <td>
          <h3>Do you love traveling and planing your trips in advance?</h3>
          <h3>Are you a middle age person planning your backpacker dream trip to Europe?</h3>
          <h3>Do you need some help on planning a trip adapted just to your preferences?</h3>
          <h3>Are you dizzy with the amount of information you have found about it?</h3>
      <td>
      <td>
        <%= image_tag("backpackers.jpg", :size =>"572x396") %>
      </td>
    </tr>
  </table>
  <div>
    <h2>
      Here we are to help you in this fantastic journey!
    </h2>
    <h2>
      Do not waste more time, just answer us a couple of questions so we can start creating the best trip for you!
    </h2>
  </div>
    <div class="row">
      <div class="row">
        <div class="span6 offset3">
          <%= form_for(@trip) do |form| %>

              <%= form.label :length %>
              <%= form.select :length, [['15 days', 1], ['1 month', 2], ['2 months', 3]]%>

              <%= form.label :europe_zone_id %>
              <%= form.collection_select :europe_zone_id, EuropeZone.all, :id, :name %>

              <%= form.label :transportation_preference_id %>
              <%= form.collection_select :transportation_preference_id, TransportationPreference.all, :id, :name %>

              <%= form.label :sightseeing_preference_id %>
              <%= form.collection_select :sightseeing_preference_id, SightseeingPreference.all, :id, :name %>

              <%= form.submit "Show me my itinerary", class: "btn btn-large btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
</div>