<% provide(:title, 'Leave us your comment') %>
<div class="center hero-unit">

  <table>
    <tr>
      <td>
        <ul>
          <h2>Please, leave us your comment!
          </h2>
        </ul>
      </td>
      <td>
  </table>
    <div class="row">
      <div class="span6 offset3">
        <%= form_for(@comment) do |f| %>
            <%= render 'shared/error_messages' %>
        <% end %>
      </div>
     </div>
  <table>
    <div class="row">
      <div class="row">
        <div class="span6 offset3">
          <%= form_for(@comment) do |form| %>

              <%= form.label :name %>
              <%= form.text_field :name %>

              <%= form.label :email %>
              <%= form.text_field :email %>

              <%= form.label "Trip" %>
              <%= select_tag :trip_id, options_from_collection_for_select(Trip.all, :id, :name) , {:multiple => true}%>

              <%= form.label :comment %>
              <%= form.text_field :comment %>

              <%= form.submit "Submit", class: "btn btn-large btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>

    </td>
    </tr>
  </table>
</div>
</div>