<% provide(:title, 'Contact Us') %>
<div class="center hero-unit">
  <table>
    <tr>
      <td>
        <ul id="nav">
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "Itinerary", home_path %></li>
          <li><%= link_to "Estimated costs", home_path %></li>
          <li><%= link_to "Report", home_path %></li>
        </ul>
      </td>
    </tr>
  </table>
  <table>
    <h2>We will be very glad to hearing from you!</h2>
    <tr>
      <td>
        <ul>
          <li><%= link_to "info@myeurotripplaner.com", '#' %></li>
          <li><%= link_to "https://www.facebook.com/myeurotripplaner", '#' %></li>
          <li><%= link_to "https://twitter.com/my_eurotrip_planner", '#' %></li>
        </ul>
      </td>
      <td>
        <h2><%= image_tag("backpackers.jpg") %></h2>
      </td>
    </tr>
  </table>
  <table border=1>
    <h2>Do you want to see what others have been saying? You are also welcome to
      <%= link_to "Leave us a comment!", new_comment_path %></li>
    </h2>
    <tr>
      <th>Name</th>
      <th>e-mail</th>
      <th>comment</th>
    </tr>
    <% @comments.each do |data| %>
        <tr>
          <td><%= data.name %></td>
          <td><%= data.email %></td>
          <td><%= data.comment %></td>
        </tr>
    <% end %>
  </table>
</div>


