<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= image_tag("banner.jpg") %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "About us", about_path %></li>
          <li><%= link_to "Contact us", contactus_path %></li>
          <li><%= link_to "Twitter", 'https://twitter.com/emi_torino' %></li>
          <li><%= link_to "Facebook", 'https://www.facebook.com/emi.torino' %></li>
        </ul>
      </nav>
      <h1>Welcome to MyEuroTripPlanner!</h1>
      <div class = "site-bar">
        <ul id="nav">
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "Itinerary", "#" %></li>
          <li><%= link_to "Estimated costs", "#" %></li>
         <li><%= link_to "Report", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
</header>