<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "About us",    '#' %></li>
          <li><%= link_to "e-mail",    '#' %></li>
          <li><%= link_to "Twitter", '#' %></li>
          <li><%= link_to "Facebook", '#' %></li>
        </ul>

      </nav>
    </div>
  </div>
</header>